NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=
MASTER_ENCRYPTION_KEY=
ACCESS_CODE="sazzad"

# Connect to Supabase via connection pooling (used at runtime)
DATABASE_URL="postgresql://postgres.nnytibjrdkpsruyixyld:[sazzadhtq12wQ!@W]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection — used for Prisma migrations only
DIRECT_URL="postgresql://postgres.nnytibjrdkpsruyixyld:[sazzadhtq12wQ!@W]@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"
